@font-face {
    font-family: "fn-normal";
    src: url("./assets/fonts/fn-normal.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "fn-bold";
    src: url("./assets/fonts/fn-bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "fn-title";
    src: url("./assets/fonts/fn-title.woff2") format("woff2");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;
    font-family: "font-normal", sans-serif;
    height: 100vh;
    background-image: url(./assets/images/background.jpg);
    background-position: center;
}

h1 {
    color: #fff;
    font-family: "fn-title", sans-serif;
    font-size: 3rem;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

h2 {
    color: #fff;
    font-family: "fn-bold", sans-serif;
    font-size: 2rem;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

p,
label {
    color: #fff;
    font-family: "fn-normal", sans-serif;
    font-size: 1.5rem;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

a {
    color: #fff;
    font-family: "fn-normal", sans-serif;
    font-size: 1.5rem;
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.header {
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.form input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: "fn-normal", sans-serif;
    font-size: 1.5rem;
}

.form input:active,
.form input:focus {
    outline: none;
}

.form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: "fn-normal", sans-serif;
    font-size: 1.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.examples {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.examples ul {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    list-style-type: none;
}

.examples li {
    margin-bottom: 5px;
    padding-left: 20px;
    background: url("assets/images/hashtag.png") no-repeat left center;
    background-size: 15px 15px;
}

.credits {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.credits p,
.credits a {
    color: rgba(255, 255, 255, 0.5);
}

.results-item {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.results-item img {
    width: 9rem;
    height: 9rem;
}

.results-text {
    margin-left: 1rem;
}

.results-analysis {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.explanation {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
}

.explanation p,
.explanation a {
    color: rgba(255, 255, 255, 0.5);
}

.rainbow {
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    animation: emphasisScroll 1s linear infinite;
}

@keyframes emphasisScroll {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
